<app-header></app-header>
<div class="container">
<div class="row">
    <h1 class="titulo-central text-center"> Gestioná tus Reservas</h1>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Aerolínea</th>
          <th scope="col">Ida</th>
          <th scope="col">Fecha Salida</th>
          <th scope="col">Hora Salida</th>
          <th scope="col">Vuelta</th>
          <th scope="col">Fecha Llegada</th>
          <th scope="col">Hora Llegada</th>
          <th scope="col">Recibo</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">*</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><button type="button" class="btn btn-secondary"><i class="fa-solid fa-print"></i></button></td>
          <td><button type="button" class="btn btn-danger"><i class="fa-regular fa-trash-can"></i></button></td>
        </tr>
      </tbody>
    </table>
</div>
</div>
<div class="container-fluid">
<app-footer></app-footer>
</div>
