<app-header></app-header>
<div class="container mt-5">
<div class="row">
    <p class="display-6 text-center m-5"> Gestioná tus Reservas</p>

    <table class="table">
      <thead class="text-center">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Aerolínea</th>
          <th scope="col">Ida</th>
          <th scope="col">Fecha Salida</th>
          <th scope="col">Hora Salida</th>
          <th scope="col">Vuelta</th>
          <th scope="col">Fecha Llegada</th>
          <th scope="col">Hora Llegada</th>
          <th scope="col">Estado</th>
          <!--<th scope="col">Recibo</th>-->
          <th scope="col">Gestion</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class="text-center lead align-item-center">
        <tr *ngFor="let reserva of reservas">
          <th scope="row"><i class="fa-solid fa-calendar-days"></i></th>
          <td>{{reserva.vuelo.avion.marca}}</td>
          <td>{{reserva.vuelo.aeropuertoPartida.region}} - {{reserva.vuelo.aeropuertoPartida.pais.nombre}}</td>
          <td>{{reserva.vuelo.fechaYHoraPartida | date: 'dd/MM/yyyy'}}</td>
          <td>{{reserva.vuelo.fechaYHoraPartida | date: 'HH:MM'}}</td>
          <td>{{reserva.vuelo.aeropuertoLlegada.region}} - {{reserva.vuelo.aeropuertoLlegada.pais.nombre}}</td>
          <td>{{reserva.vuelo.fechaYHoraArribo | date: 'dd/MM/yyyy'}}</td>
          <td>{{reserva.vuelo.fechaYHoraArribo | date: 'HH:MM'}}</td>
          <td class="p-3"  [ngClass]="{'pago':reserva.estado ==='pago', 'pendiente': reserva.estado === 'pendiente','cancelada':reserva.estado === 'cancelada'}"><strong><span class="h4">{{reserva.estado}}</span></strong></td>
          <!--<td><button type="button" class="btn btn-secondary" (click)="recibo()"><i class="fa-solid fa-print"></i></button></td>-->
          <td><button type="button" class="btn btn-danger" *ngIf="reserva.estado==='pendiente' " (click)="cancelar(reserva)"><i class="fa-solid fa-xmark "></i></button></td>
          <td><button type="button" class="btn btn-danger" *ngIf="reserva.estado==='pago' " (click)="cancelar(reserva)"><i class="fa-solid fa-xmark "></i></button></td>
          
          <td><button type="button" class="btn btn-success" *ngIf="reserva.estado==='pendiente' ">Pagar</button></td>
        </tr>
      </tbody>
    </table>
</div>
</div>
<div class="container-fluid">

</div>
