
<div class="row mt-5">
  <div class="col-12">
    <div class="input-group input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-lg">Origen</span>
      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" name="origen" [(ngModel)]="origen" required>
      <span class="input-group-text" id="inputGroup-sizing-lg">Destino</span>
      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" name="destino" [(ngModel)]="destino" required>
      <span class="input-group-text" id="inputGroup-sizing-lg">Fecha</span>
      <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="cargarFiltrado()"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
  </div>

  <div class="col-12 mt-5">
    <p class="text-center display-5"> Gestionar Vuelos</p>
  </div>
  <div class="col-12 text-center"><button class="btn btn-outline-secondary" (click)="cargar()" ><i class="fa-solid fa-rotate-left"></i></button></div>
  <div class="col-12 m-3" *ngFor="let vuelo of vuelos">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><p>{{vuelo.aeropuertoPartida.codigo}} : {{vuelo.fechaYHoraPartida | date: 'dd/MM/yyyy - HH:MM'}} <i class="fa-solid fa-arrow-right"></i> {{vuelo.aeropuertoLlegada.codigo}} : {{vuelo.fechaYHoraArribo | date: 'dd/MM/yyyy - HH:MM'}}</p></h5>
        <p class="card-text lead">{{vuelo.avion.marca}}<strong class="float-end"> ${{vuelo.precio}} </strong></p>
        <a type="button" class="btn btn-warning float-end m-1" *ngIf="isLogged" (click)="update(content,vuelo.id)"><i class="fa-solid fa-pen-to-square"></i></a>
        <a type="button" class="btn btn-danger float-end m-1" *ngIf="isLogged" (click)="delete(vuelo.id)"><i class="fa-regular fa-trash-can"></i></a>
      </div>
    </div>
  </div>

</div>



<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Educacion</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form novalidate #f="ngForm">
      <div class="form-group">
          <label for="fechaYHoraPartida">fechaYHoraPartida</label>
          <input type="datetime" class="form-control" name="fechaYHoraPartida" [(ngModel)]="fechaYHoraPartida" required>
          <label for="fechaYHoraArribo">fechaYHoraArribo</label>
          <input type="datetime" class="form-control" name="fechaYHoraArribo" [(ngModel)]="fechaYHoraArribo" required>
          <label for="">Precio</label>
          <input type="number" class="form-control" name="precio" [(ngModel)]="precio" required>
          <label for="avion">Avion</label>
          <input type="number" class="form-control" name="avion" [(ngModel)]="avion" required>
          <label for="avion">Aeropuerto de Partida</label>
          <input type="number" class="form-control" name="aeropuertoPartida" [(ngModel)]="aeropuertoPartida" required>
          <label for="avion">Aeropuerto de Llegada</label>
          <input type="number" class="form-control" name="aeropuertoLlegada" [(ngModel)]="aeropuertoLlegada" required>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>


