<div class="row">
  <footer>
    <div class="col-12 text-center">
      <p><b>Información de utilidad</b></p>
    </div>
    <div class="col-6 d-inline-block">
      <img src="../../../assets/lgo-utn.png" width="38px" alt="Logo">
      

      <p class="mt-5"><ins>Contáctanos: diseniodesistemas.frlp.utn@gmail.com</ins></p>
    </div>
    <div class="col-6 d-inline-block">
    <p><b>Grupo Número 9:</b></p>

    <ul>
      <li>DENIS, Ruben</li>
      <li>MARCZUK, Lucas</li>
      <li>MONTIRON, Francisco</li>
    </ul>
  </div>

  </footer>

</div>