.servicio-fila {

    width: 100% !important;
    text-align: center;
}

.titulo{
    text-align: center;
    color: brown;
}

.equipo{
    text-align: center;
}

.plane{
    width: 15px;
    height: 15px;
}

.cabecera{
    /*background-color: #82D4D0;*/
    background-color: greenyellow;
    background: linear-gradient(to right, rgb(39, 192, 192), rgb(62, 190, 30));
    height: 30px;

}

.logo-principal{

    position: relative;
    top: 5px;
    left: 10px;

}

.barra{
    /*background-color: #82D4D0;*/
    height: 130px;
    background-color: greenyellow;
    background: linear-gradient(to right, rgb(39, 192, 192), rgb(62, 190, 30));
}

.container-lg{

    position: relative;
    width: 850px;
    height: 130px;
    left: 25px;
    top: 50px;
    margin-bottom: 50px;
    background: #82D4D0;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.titulo-central{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.compra{

    text-align: right;
    margin-top: 40px;

}


.datos{

    margin-top: 40px;
    margin-left: 300px;
    margin-right: 400px;
}

.form-control.cod-seg{

    width: 60px;
}

.booking{

    position: absolute;
    right: 200px;
    top: 35px;
}

#origen{

    position: absolute;
    top: -45px;
    left: 700px;

}

#origen-buscador{

    position: absolute;
    top: -20px;
    left: 700px;
    width: 450px;
}

#destino{

    position: absolute;
    top: 20px;
    left: 700px;

}

#destino-buscador{

    position: absolute;
    top: 50px;
    left: 700px;
    width: 450px;

}

#buscar{
    position: absolute;
    top: 50px;
    left: 1200px;
}

#buscador{

    position: relative;
    top: -5px;
    left: -1080px;
    width: 50px;
    height: 130px;

}

/*
#cant-pas{

    position: absolute;
    top: -25px;
    right: 100px;
}

#cant-pas-op{

    position: absolute;
    width: 40px;
    top: -15px;
    left: -312px;

}
*/

#iniciar{

    position: absolute;
    top: 35px;
    width: 150px;
    right: 20px;
}

.pie{

    /*position: absolute;*/
    margin-top: 50px;
    margin-top: 50px;
    height: 150px;
    /*background-color: #82D4D0;*/
    background-color: greenyellow;
    background: linear-gradient(to right, rgb(39, 192, 192), rgb(62, 190, 30));
}


.info-pie{

    position: relative;
    top: -10px;
    height: 5px;
    text-align: center;

}

.info-pie-izq{

    position: relative;
    height: 150px;
    width: 200px;
    left: 30px;
    bottom: 5px;
    top: 10px;
}


.info-pie-der{

    position: fixed;
    height: 150px;
    width: 100px;
    right: 50px;
    bottom: -70px;

}
