
  <nav class="navbar navbar-expand-lg header-custom">
    <div class="container-fluid">
    <a class="navbar-brand col-xs-12 col-sm-2 col-md-2 col-lg-2 d-none d-xl-inline-block d-sm-inline-block col-auto" href="/">
      <img src="../../../assets/pngwing.com (1).png" alt="logo" width="70" height="70"
        class="d-inline-block align-text-bot img-fluid">
      <span class=" d-none d-xl-inline-block d-md-inline-block d-sm-inline-block"> DS TRAVEL </span>
    </a>
    <ul class="nav justify-content-end col-auto">
      <li class="nav-item">
        <button type="button" class="btn btn-dark m-2 px-2 float-end" *ngIf="isLogged" (click)="reservas()">Mis Reservas</button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-primary m-2 px-2 float-end" (click)="login()" *ngIf="!isLogged">Iniciar Sesion</button>
        <button type="button" class="btn btn-secondary m-2 px-2 float-end" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesion</button>
      </li>
      <!--
      <li>
        <a type="button" class="btn btn-dark m-2 px-2 float-end" href="/registro" *ngIf="!isLogged">Registrarse</a>
      </li>-->
      
    </ul>
  </div>
  </nav>
  <!--    
  <div class="logo-principal">
    <i class="fa-solid fa-plane"></i>DS TRAVEL
  </div> -->






    