
.cabecera{
    /*background-color: #82D4D0;*/
    background-color: greenyellow;
    background: linear-gradient(to right, rgb(39, 192, 192), rgb(62, 190, 30));
}

.barra{
    /*background-color: #82D4D0;*/
    background-color: greenyellow;
    background: linear-gradient(to right, rgb(39, 192, 192), rgb(62, 190, 30));
}

