<div class="cabecera"><i class="fa-solid fa-plane"> </i>DS TRAVEL</div>

<!-- Barra de navegacion-->

<div class="barra">

  <nav class="navbar navbar-expand-lg">

    <div class="container-fluid">

      <a class="navbar-brand" href="#"><i class="fa-solid fa-bars"></i></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <nav class="navbar bg-#82D4D0">
          <div class="container-fluid">
            <form class="d-flex" role="search">
              <input class="form-control me-1" type="search" placeholder="Buscá un vuelo" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
          </div>
      </nav>
    
      <button type="button" class="btn btn-outline-success float-end" (click)="login()" *ngIf="!isLogged">Iniciar Sesion</button>
      <button type="button" class="btn btn-outline-success float-end" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesion</button>
    
    </div>
  </nav>

</div>