<div class="container mt-5">
  <div class="row">

    <mat-stepper [linear]="isLinear" #stepper>
      <mat-step>
        <form>

          <div class="col-12 mt-5 mb-3">
            <ng-template matStepLabel>Elegir asientos</ng-template>
          </div>
          <!--------------------- grilla de asientos ------------------------->
          <div class="col">
            <p class="h3 text-center m-5">Seleccion de Asientos</p>
          </div>
          <div class="col text-center"> 
            <table class="table mt-5">
              <thead>
                <tr>
                  <th scope="col">Numero Asiento</th>
                  <th scope="col">Clase</th>
                  <th scope="col">Columna</th>
                  <th scope="col">Selecciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let asiento of asientosDisponibles">
                  <th scope="row p-1">{{asiento.numero}}</th>
                  <td class="p-3">{{asiento.clase}}</td>
                  <td class="p-3">{{asiento.asientoColumna}}</td>
                  <td>
                    <button class="btn btn-outline-secondary btn-lg btn-round p-2 m-2" id="btn-editar"
                      (click)="reserva(asiento)" [ngClass]="{'reservado': asiento.seleccionado}">
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="m-3">
              <a href="" class="float-start btn btn-outline-secondary">Volver</a>
              <button class="float-end btn btn-outline-success" matStepperNext
                (click)="datosPasajeros()" [disabled]="asientosSeleccionados.length === 0">Siguiente</button>
            </div>
          </div>
        </form> 
      </mat-step>
      <!------------------------------------ Datos de los pasajeros ---------------------------->
      <mat-step errorMessage="Es Requerido! ">
        <form class="formulario" [formGroup]="fg" (ngSubmit)="submitFormPasajeros()">
          <div class="col-12 mt-5 mb-3">
            <ng-template matStepLabel>Datos de los pasajeros</ng-template>
          </div>

          <mat-table [dataSource]="dataSourcePacks">
            <ng-container formArrayName="formsPasajeros">

              <!-- Columna nombre -->   
              <ng-container matColumnDef="nombre">
                <mat-header-cell *matHeaderCellDef>
                  <h2>Nombre</h2>
                </mat-header-cell>
                <mat-cell *matCellDef="let element;" [formGroup]="element">
                  <mat-form-field>
                    <input matInput placeholder="nombre" formControlName="nombre" required>
                  </mat-form-field>
                </mat-cell>
              </ng-container>

              <!-- COLUMNA Precio  -->
              <ng-container matColumnDef="apellido">
                <mat-header-cell *matHeaderCellDef>
                  <h2>Apellido</h2>
                </mat-header-cell>
                <mat-cell *matCellDef="let element;" [formGroup]="element">
                  <mat-form-field>
                    <input matInput placeholder="apellido" formControlName="apellido" required>
                  </mat-form-field>
                </mat-cell>
              </ng-container>

              <!-- COLUMNA DNI -->
              <ng-container matColumnDef="dni">
                <mat-header-cell *matHeaderCellDef>
                  <h2>DNI</h2>
                </mat-header-cell>
                <mat-cell *matCellDef="let element;" [formGroup]="element">
                  <mat-form-field>
                    <input matInput placeholder="dni" formControlName="dni" required>
                  </mat-form-field>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </ng-container>
          </mat-table>

          <div class="m-3">
            <button class="float-start btn btn-outline-secondary" matStepperPrevious>Volver</button>
            <button class="float-end btn btn-outline-success" matStepperNext type="submit" (click)="crearPasajeros()">Continuar</button>
          </div>

        </form>
      </mat-step>
      <!-------------------------------- PAGO ------------------------------------>
      <mat-step>
        <ng-template matStepLabel>Pago</ng-template>

        <!-- STEPPER VERTICAL -->


        <mat-stepper orientation="vertical" #stepper>

          <!------------------------- Resumen de datos y precio final  ---------------------->

          <mat-step>
            <ng-template matStepLabel>Resumen</ng-template>

            <!-- Datos de los pasajeros-->
            <div class="col-12 m-3">

              <p class="lead">Pasajeros</p>

              <table mat-table [dataSource]="infoPasajeros" class="mat-elevation-z8 demo-table">

                <!-- Name Column -->
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef> Nombre </th>
                  <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="apellido">
                  <th mat-header-cell *matHeaderCellDef> Apellido </th>
                  <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="dni">
                  <th mat-header-cell *matHeaderCellDef> DNI </th>
                  <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

            </div>

            <!-- Resumen de precios -->
            <div class="col-12 m-5">

              <p class="lead m-3"><b>Detalle de precio</b></p>
              <hr>
              <p class="lead m-3">Precio total de asientos: {{precioDeAsientos}}</p>
              <hr>
              <p class="lead m-3">IVA: {{precioIVA}}</p>
              <hr>
              <p class="lead m-3">Precio Final: {{precioFinal}}</p>

            </div>

            <div>
              <button class="btn btn-outline-success float-end m-3" matStepperNext *ngIf="reservaAct === undefined" (click)="reservar()">Confirmar reserva!</button>
            </div>
          </mat-step>

          <!---------------------------------------------------------------------------------->

          <mat-step>
            <ng-template matStepLabel>Metodo de pago</ng-template>

            <select [(ngModel)]="metodoDePago" class="form-select m-3" (change)="optionSelected()">
              <option [ngValue]="undefined" selected disabled>Seleccione metodo de pago</option>
              <option *ngFor="let option of options" [value]="option.value"
                [disabled]="option.value == 3 || option.value == 4" required>
                {{ option.label }}
              </option>

            </select>

            <div>
              <button class="btn btn-outline-success float-end m-3" matStepperNext>Continuar</button>
            </div>
          </mat-step>
          <!-- Seccion de datos de pago -->
          <mat-step>
            <ng-template matStepLabel>Datos de pago</ng-template>
            <div class="mb-3  m-3">
              <label for="exampleFormControlInput1" class="form-label">Numero de Tarjeta</label>
              <input type="text" [(ngModel)]="numeroDeTarjeta" class="form-control" id="numeroDeTarjeta"
                placeholder="1234 1234 1234 1234" required>
            </div>

            <div class="mb-3  m-3">
              <label for="exampleFormControlInput1" class="form-label">Fecha de caducidad</label>
              <input type="month" [(ngModel)]="fechaDeCaducidad" class="form-control" id="fechaDeCaducidad" required>
            </div>

            <div class="mb-3  m-3">
              <label for="exampleFormControlInput1" class="form-label">Código de Seguridad</label>
              <input type="text" [(ngModel)]="codigoDeSeguridad" class="form-control" id="codigoDeSeguridad"
                placeholder="123" required>
            </div>

            <div class="mb-3  m-3" *ngIf="metodoDePago == 1 ">
              <label for="exampleFormControlInput1" class="form-label">Cuotas</label>
              <input type="number" [(ngModel)]="cuotas" class="form-control" id="cuotas" [defaultValue]="1" min="1"
                max="3">
            </div>

            <div class="compra">
              <a href="" class="btn btn-outline-secondary float-start  m-3">Salir</a>
              <button type="button" *ngIf="reservaAct !== undefined" (click)="pagar()"
                class="btn btn-outline-success float-end  m-3">Pagar</button>
            </div>

            <div>
              <button class="btn btn-outline-secondary m-3" matStepperPrevious>Volver</button>
              <!--  <button mat-button matStepperNext>Next</button>-->
            </div>
          </mat-step>

          <!-- Finalizar compra -->

        </mat-stepper>



        <!-- STEPPER VERTICAL -->
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-stepper>

  </div>
</div>