<app-header></app-header>
<div class="container mt-5">
    <div class="row">
        <!--
        <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
            {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
          </button>-->
          <mat-stepper [linear]="isLinear" #stepper>
            <mat-step>
              <form>
                
                <div class="col-12 mt-5 mb-3">
                <ng-template matStepLabel>Elegir asientos</ng-template>
                </div>
                <!--------------------- grilla de asientos ------------------------->
                <div class="col"><p class="h3 text-center m-5">Seleccion de Asientos</p></div>
                <div class="col text-center">
                <table class="table mt-5">
                  <thead>
                    <tr>
                      <th scope="col">Numero Asiento</th>
                      <th scope="col">Clase</th>
                      <th scope="col">Columna</th>
                      <th scope="col">Selecciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let asiento of asientosDisponibles">
                      <th scope="row p-1">{{asiento.numero}}</th>
                      <td class="p-3">{{asiento.clase}}</td>
                      <td class="p-3">{{asiento.asientoColumna}}</td>
                      <td>
                        <button class="btn btn-outline-secondary btn-lg btn-round p-2 m-2" id="btn-editar" 
                        (click)="reserva(asiento)" [ngClass]="{'reservado': !asiento.estado}">
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>

          
                <div class="float-end btn btn-outline-success">
                  <button mat-button matStepperNext (click)="datosPasajeros()">Siguiente</button>
                </div>
              </div>  
              </form>
            </mat-step>
            <!------------------------------------ Datos de los pasajeros ---------------------------->
            <mat-step>
            <form class="formulario" [formGroup]="fg" (ngSubmit)="submitFormPasajeros()">
              <div class="col-12 mt-5 mb-3">
                <ng-template matStepLabel>Datos de los pasajeros</ng-template>
              </div>
            
              <mat-table [dataSource]="dataSourcePacks">
                <ng-container formArrayName="formsPasajeros">
            
                  <!-- Columna nombre -->
                  <ng-container matColumnDef="nombre">
                    <mat-header-cell *matHeaderCellDef> <h2>Nombre</h2></mat-header-cell>
                    <mat-cell *matCellDef="let element;" [formGroup]="element">
                      <mat-form-field>
                        <input matInput placeholder="nombre" formControlName="nombre" required>
                      </mat-form-field>
                    </mat-cell>
                  </ng-container>
            
                  <!-- COLUMNA Precio  -->
                  <ng-container matColumnDef="apellido">
                    <mat-header-cell *matHeaderCellDef> <h2>Apellido</h2></mat-header-cell>
                    <mat-cell *matCellDef="let element;" [formGroup]="element">
                      <mat-form-field>
                        <input matInput placeholder="apellido" formControlName="apellido" required>
                      </mat-form-field>
                    </mat-cell>
                  </ng-container>
            
                  <!-- COLUMNA DNI -->
                  <ng-container matColumnDef="dni">
                    <mat-header-cell *matHeaderCellDef> <h2>DNI</h2></mat-header-cell>
                    <mat-cell *matCellDef="let element;" [formGroup]="element">
                      <mat-form-field>
                        <input matInput placeholder="dni" formControlName="dni" required>
                      </mat-form-field>
                    </mat-cell>
                  </ng-container>
            
            
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </ng-container>
              </mat-table>
              
              <div>
                <button mat-button matStepperPrevious>Volver</button>
                <button mat-button matStepperNext type="submit">Continuar</button>
              </div>
              <!--
              <button class="btn-save" type="submit">Guardar</button>
              -->
            </form>
          </mat-step>











            <!-------------------------------- PAGO ------------------------------------>
            <mat-step>
              <ng-template matStepLabel>Pago</ng-template>
              
              <!-- STEPPER VERTICAL -->


              <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
                <mat-step>
                  <form>
                    <ng-template matStepLabel>Metodo de pago</ng-template>
                    <select class="form-select m-3" aria-label="Default select example">
                      <option value="0" selected>Tarjeta de Crédito</option>
                      <option value="1">Tarjeta de Débito</option>
                      <option disabled value="2">Prisma</option>
                      <option disabled value="3">Mercado Pago</option>
                      
                  </select>
                    <div>
                      <button class="bg-light float-end m-3" mat-button matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step>
                <!-- Seccion de datos de pago -->
                <mat-step>
                  <form>
                    <ng-template matStepLabel>Datos de pago</ng-template>
                        <div class="mb-3  m-3">
                          <label for="exampleFormControlInput1" class="form-label">Numero de Tarjeta</label>
                          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="1234 1234 1234 1234">
                      </div>
              
                      <div class="mb-3  m-3">
                          <label for="exampleFormControlInput1" class="form-label">Fecha de caducidad</label>
                          <input type="month" class="form-control" id="exampleFormControlInput1" placeholder="Rodriguez">
                      </div>
              
                      <div class="mb-3  m-3">
                          <label for="exampleFormControlInput1" class="form-label">Código de Seguridad</label>
                          <input type="text" class="form-control" id="cod-seg" placeholder="123">
                      </div>
              
                      <div class="compra">
              
              
                          <button type="button" class="btn btn-success float-end  m-3">Pagar</button>
              
                      </div>
                    <div>
                      <button class="btn btn-secondary bg-light  m-3" mat-button matStepperPrevious>Back</button>
                    <!--  <button mat-button matStepperNext>Next</button>-->
                    </div>
                  </form>
                </mat-step>

                <!-- Finalizar compra -->
                <mat-step>
                  <ng-template matStepLabel>Resumen</ng-template>
                  <p>Gracias por su compra!</p>
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                  </div>
                </mat-step>
              </mat-stepper>



              <!-- STEPPER VERTICAL -->
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
              </div>
            </mat-step>
          </mat-stepper>




        <!--
        <h1 class="titulo-central"> Completá tus datos</h1>

        <div class="datos">

            <div class="mb-3">

                <label for="exampleFormControlInput1" class="form-label">Cantidad de Pasajeros</label>
                <input type="number" aria-label="cantidad de pasajeros" class="form-control" [defaultValue]="1" [(ngModel)]="cantidadPasajeros">
                <button type="button" class="btn btn-success float-end" (click)="datosPasajeros()">Continuar</button>

            </div>

            <div class="pasajeros" *ngFor="let pasajero of pasajeros">

            <div class="col input-group mt-5 ">
                
                <span class="input-group-text">Nombre</span>
                <input type="text" aria-label="First name" class="form-control">
                <span class="input-group-text">Apellido</span>
                <input type="text" aria-label="Last name" class="form-control">
                <span class="input-group-text">DNI</span>
                <input type="number" aria-label="Last name" class="form-control">
            </div>
        </div>
        <div class="compra mt-5">

          <button type="button" class="btn btn-success float-end" *ngIf="mostrar">Continuar</button>
          <button type="button" class="btn btn-danger">Volver</button>

      </div>


        </div>

      -->
    </div>
</div>