.card{
    background: linear-gradient(to right, rgb(157, 210, 144,0.2),rgb(186, 226, 226,0.2));
    box-shadow: 2px 2px 5px #161515;
}

.Aerolinea img {
    max-width: 7rem;
}

.card {
    vertical-align: middle;
}

.buscador {
    background: rgb(216, 216, 216);
}




