<section class="contenedor-principal">
      
    <h1 class="titulo-central"> Nuestras Mejores Ofertas</h1>

    <div class="container-lg">
  
      <nav class="compra">
          <button type="button" class="btn btn-success" *ngIf="isLogged">Comprar</button>
      </nav>

      <nav class="info-vuelo">

      </nav>
  
    </div>

    <div class="container-lg">
  
      <nav class="compra">
          <button type="button" class="btn btn-success" *ngIf="isLogged">Comprar</button>
      </nav>
  
    </div>

    <div class="container-lg">
  
      <nav class="compra">
          <button type="button" class="btn btn-success" *ngIf="isLogged">Comprar</button>
      </nav>
  
    </div>


  </section>
