<div class="row mt-5" *ngIf="!comprar">

  <div class="buscador col-12 text-center border rounded">
      <mat-form-field appearance="fill">
        <mat-label><mat-icon>flight_takeoff</mat-icon> Origen </mat-label>
        <input type="text" matInput [formControl]="origenControl" [errorStateMatcher]="matcher" [matAutocomplete]="autoOrigen"
          [(ngModel)]="origen">
        <mat-autocomplete #autoOrigen="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.region}}-{{option.pais.nombre}}-{{option.codigo}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label> <mat-icon>flight_land</mat-icon> Destino </mat-label>
        <input type="text" matInput [formControl]="destinoControl" [errorStateMatcher]="matcher" [matAutocomplete]="autoDestino"
          [(ngModel)]="destino">
        <mat-autocomplete #autoDestino="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.region}}-{{option.pais.nombre}}-{{option.codigo}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Fecha</mat-label>
        <input matInput [formControl]="fechaControl" [matDatepicker]="picker" [errorStateMatcher]="matcher" [(ngModel)]="fecha">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <div class="m-3 d-inline-block">
        <button class="p-3" mat-fab color="primary" aria-label="Example icon button with a bookmark icon" (click)="cargarFiltrado()">
          <mat-icon>search</mat-icon>
        </button>
      </div>
  </div>
      



  <div class="col-12 m-5">
    <p class="text-center display-5"> Nuestras Mejores Ofertas</p>
  </div>
  <div class="col-12 text-end m-3"><button class="btn btn-outline-secondary" (click)="cargar()"><i
        class="fa-solid fa-rotate-left"></i></button></div>
  <div class="col-12 m-3" *ngFor="let vuelo of vuelos">

    <div class="card  shadow-sm text-center">
      <div class="card-body d-flex align-items-center">
        <div class="Aerolinea">
          <!--<p class="lead m-5">{{vuelo.avion.marca}}</p>-->
          <img *ngIf="vuelo.avion.marca === 'Aerolineas Argentinas'" src="../../../assets/Aeroarg.png">
          <img *ngIf="vuelo.avion.marca === 'Gol'" src="../../../assets/gol.png">
          <img *ngIf="vuelo.avion.marca === 'Latam'" src="../../../assets/latam.png">
          <img *ngIf="vuelo.avion.marca === 'Jetsmart'" src="../../../assets/JetSmart.png">
          <img *ngIf="vuelo.avion.marca === 'Emirates'" src="../../../assets/emirates.png">
          <img *ngIf="vuelo.avion.marca === 'American Airlines'" src="../../../assets/americanAirlines.png">
        </div>
        <div class="card-body">
          <div>
            <h3 class="card-title"><i class="fa-solid fa-plane-departure"></i><span class="m-3 lead">Partida</span></h3>
            <p class="card-text lead">{{vuelo.aeropuertoPartida.region}} - {{vuelo.aeropuertoPartida.pais.nombre}}</p>
            <p class="card-text"><strong>{{vuelo.fechaYHoraPartida | date: 'dd/MM/yyyy - HH:MM'}}</strong></p>
            <p class="card-text lead">{{vuelo.aeropuertoPartida.codigo}}</p>
          </div>
        </div>
        <div class="card-body">
          <div>
            <h3 class="card-title"><i class="fa-solid fa-solid fa-plane-arrival"></i><span class="m-3 lead">Llegada</span></h3>
            <p class="card-text lead">{{vuelo.aeropuertoLlegada.region}} - {{vuelo.aeropuertoLlegada.pais.nombre}}</p>
            <p class="card-text"><strong>{{vuelo.fechaYHoraArribo | date: 'dd/MM/yyyy - HH:MM'}}</strong></p>
            <p class="card-text lead">{{vuelo.aeropuertoLlegada.codigo}}</p>
          </div>
        </div>
        <div class="card-body">
          <div>
            <h5 class="card-title"><span class="lead">Precio Ars</span></h5>
            <p class="card-text lead"><strong>{{vuelo.precio}}</strong></p>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-end m-3">
          <a class="btn btn-success rounded-5 px-3 float-end" *ngIf="isLogged,else elseBlock" (click)="seleccionDeVuelo(vuelo)">Comprar</a>
          <ng-template #elseBlock><p class="lead float-end text-secondary">Inicie sesion</p></ng-template>
        </div>
      </div>
    </div>



    <!--
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <p>{{vuelo.aeropuertoPartida.codigo}} : {{vuelo.fechaYHoraPartida | date: 'dd/MM/yyyy - HH:MM'}} <i
              class="fa-solid fa-arrow-right"></i> {{vuelo.aeropuertoLlegada.codigo}} : {{vuelo.fechaYHoraArribo | date:
            'dd/MM/yyyy - HH:MM'}}</p>
        </h5>
        <p class="card-text lead">{{vuelo.avion.marca}}<strong class="float-end"> ${{vuelo.precio}} </strong></p>
        <a class="btn btn-success float-end" *ngIf="isLogged,else elseBlock" (click)="seleccionDeVuelo(vuelo)">Comprar</a>
        <ng-template #elseBlock><p class="lead float-end text-secondary">Inicie sesion para comprar</p></ng-template>
      </div>
    </div>-->
  </div>

</div>


<div class="row mt-5" *ngIf="comprar">
  <app-compra [vuelo]="vueloSeleccionado"></app-compra>
</div>

